<!-- templates/appointment_list.html -->
{% extends 'base.html' %}

{% block title %}Appointment{% endblock title %}

{% block content %}	
	<script>
		$(function () {
			var $appointmentCalendar = $("#calendar");
			$.ajax({
				url: $appointmentCalendar.data("url"),
				success: function (data) {
					var calendar = new tui.Calendar(document.getElementById('calendar'), {
						defaultView: 'week',
						taskView: true,    // Can be also ['milestone', 'task']
						scheduleView: true,  // Can be also ['allday', 'time']
						template: {
							milestone: function(schedule) {
								return '<span style="color:red;"><i class="fa fa-flag"></i> ' + schedule.title + '</span>';
							},
							milestoneTitle: function() {
								return 'Milestone';
							},
							task: function(schedule) {
								return '&nbsp;&nbsp;#' + schedule.title;
							},
							taskTitle: function() {
								return '<label><input type="checkbox" />Task</label>';
							},
							allday: function(schedule) {
								return schedule.title + ' <i class="fa fa-refresh"></i>';
							},
							alldayTitle: function() {
								return 'All Day';
							},
							time: function(schedule) {
								return schedule.title + ' <i class="fa fa-refresh"></i>' + schedule.start;
							}
						},
						month: {
							daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
							startDayOfWeek: 0,
							narrowWeekend: true
						},
						week: {
							daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
							startDayOfWeek: 0,
							narrowWeekend: true
						}
					});
					calendar.createSchedules(data.schedules);

					console.log(data.schedules);
				}
			});
		});
	</script>

	<!-- {% if user.is_authenticated %} -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="btn btn-primary" role="button" href="{% url 'appointment_new' %}">+ New Appointment</a></li>
		</ul>
	<!-- {% endif %} -->	
	<table class="table" style="width:100%">
		<thead class="thead-light">
			<tr>
				<th scope="col">Edit | Delete</th>
				<th scope="col">Patient</th>
				<th scope="col">Purpose</th>
				<th scope="col">Start Date</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Date</th>	
				<th scope="col">End Time</th>	
				<th scope="col">Doctor</th>
			</tr>
		</thead>
	{% for appointment in object_list %}
		<tr>
			<td><a href="{% url 'appointment_edit' appointment.pk %}">Edit</a> | <a href="{% url 'appointment_delete' appointment.pk %}">Delete</a></td>
			<td>{{ appointment.patient }}</td>
			<td>{{ appointment.purpose }}</td>
			<td>{{ appointment.startDate }}</td>
			<td>{{ appointment.startTime }}</td>
			<td>{{ appointment.endDate }}</td>	
			<td>{{ appointment.endTime }}</td>		
			<td>{{ appointment.doctor }}</td>		
		</tr>
		<br />
	{% endfor %}
	</table>

<div id="menu">
	<span class="dropdown open">
		<button id="dropdownMenu-calendarType" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<i id="calendarTypeIcon" class="calendar-icon ic_view_week" style="margin-right: 4px;"></i>
			<span id="calendarTypeName">Weekly</span>
			<i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
					<i class="calendar-icon ic_view_day"></i>Daily
				</a>
			</li>
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
					<i class="calendar-icon ic_view_week"></i>Weekly
				</a>
			</li>
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
					<i class="calendar-icon ic_view_month"></i>Month
				</a>
			</li>
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
					<i class="calendar-icon ic_view_week"></i>2 weeks
				</a>
			</li>
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
					<i class="calendar-icon ic_view_week"></i>3 weeks
				</a>
			</li>
			<li role="presentation" class="dropdown-divider"></li>
			<li role="presentation">
				<a role="menuitem" data-action="toggle-workweek">
					<input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-workweek" checked="">
					<span class="checkbox-title"></span>Show weekends
				</a>
			</li>
			<li role="presentation">
				<a role="menuitem" data-action="toggle-start-day-1">
					<input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-start-day-1">
					<span class="checkbox-title"></span>Start Week on Monday
				</a>
			</li>
			<li role="presentation">
				<a role="menuitem" data-action="toggle-narrow-weekend">
					<input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-narrow-weekend">
					<span class="checkbox-title"></span>Narrower than weekdays
				</a>
			</li>
		</ul>
	</span>
</div>
<div id="calendar" data-url="{% url 'appointment_calendar' %}">	
</div>
		
{% endblock content %}


