<!-- templates/appointment_edit.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
	<h1>Edit Appointment Information</h1>
	<form action="" method="post">{% csrf_token %}
		<div class="label-settings">			
			<label for="id_patient">Patient</label>{{ form.patient }}
			<label for="id_purpose">Purpose</label>{{ form.purpose }}
			<label for="id_startDate">Start Date</label>{% render_field form.startDate type='date' %}			
			<label for="id_startTime">Start Time</label>{% render_field form.startTime type='time' %}
			<label for="id_endDate">End Date</label>{% render_field form.endDate type='date' %}
			<label for="id_endTime">End Time</label>{% render_field form.endTime type='time' %}
			<label for="id_doctor">Doctor</label>{{ form.doctor }}
		</div>		
		<button class="btn btn-success ml-2" type="submit">Save</button>
	</form>
{% endblock content %}