<!-- templates/appointment_detail.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<form action="" method="get">{% csrf_token %}
	<h1>Appointment Information</h1>
	<div class="label-settings">			
		<label for="id_patient">Patient</label>
		{% if not object.patient %}			
			</br>
		{% else %}
			{{ object.patient }}
		{% endif %}
		<label for="id_purpose">Purpose</label>
		{% if not object.purpose %}			
			</br>
		{% else %}
			{{ object.purpose }}
		{% endif %}
		<label for="id_startDate">Start Date</label>
		{% if not object.startDate %}			
			</br>
		{% else %}
			{{ object.startDate }}
		{% endif %}
		<label for="id_startTime">Start Time</label>
		{% if not object.startTime %}			
			</br>
		{% else %}
			{{ object.startTime }}
		{% endif %}
		<label for="id_endDate">End Date</label>
		{% if not object.endDate %}			
			</br>
		{% else %}
			{{ object.endDate }}
		{% endif %}
		<label for="id_endDateTime">End Time</label>
		{% if not object.endTime %}			
			</br>
		{% else %}
			{{ object.endTime }}
		{% endif %}
		<label for="id_doctor">Doctor</label>
		{% if not object.doctor %}			
			</br>
		{% else %}
			{{ object.doctor }}
		{% endif %}		
	</div>
</form>
<p><a href="{% url 'appointment_edit' appointment.pk %}">Edit</a> | <a href="{% url 'appointment_delete' appointment.pk %}">Delete</a></p>
<p>Back to <a href="{% url 'appointment_list' %}">All appointments</a>.</p>
{% endblock content %}