<!-- templates/appointment_list.html -->
{% extends 'base.html' %}

{% block title %}Appointment{% endblock title %}

{% block content %}	
	<!-- Icon CSS -->
	<link rel="stylesheet"
	href="../static/css/icons.css" />
	<!-- calendar action -->
	<script src="../static/js/calendars.js"></script>	
	<script src="../static/js/moment.js"></script>
	<script src="../static/js/schedules.js"></script>
	<script src="../static/js/chance.min.js"></script>
	<script>
		var doctors;
		$(function () {
			var $appointmentCalendar = $("#calendar");
			$.ajax({
				url: $appointmentCalendar.data("url"),
				success: function (data) {
					var cal, resizeThrottled;
					var useCreationPopup = true;
					var useDetailPopup = true;
					var datePicker, selectedCalendar;

					cal = new tui.Calendar(document.getElementById('calendar'), {
						defaultView: 'week',						
						useCreationPopup: useCreationPopup,
						useDetailPopup: useDetailPopup,
						calendars: data.schedules,
						taskView: false,    // Can be also ['milestone', 'task']
						scheduleView: true,  // Can be also ['allday', 'time']
						template: {
							milestone: function(schedule) {
								//return '<span style="color:red;"><i class="fa fa-flag"></i> ' + schedule.title + '</span>';
								return '<span class="calendar-font-icon ic-milestone-b"></span> <span style="background-color: ' + model.bgColor + '">' + model.title + '</span>';
							},
							milestoneTitle: function() {
								return 'Milestone';
							},
							task: function(schedule) {
								return '&nbsp;&nbsp;#' + schedule.title;
							},
							taskTitle: function() {
								return '<label><input type="checkbox" />Task</label>';
							},
							allday: function(schedule) {
								//return schedule.title + ' <i class="fa fa-refresh"></i>';
								return getTimeTemplate(schedule, true);
							},
							alldayTitle: function() {
								return 'All Day';
							},
							time: function(schedule) {
								//return schedule.title + ' <i class="fa fa-refresh"></i>' + schedule.start;
								return getTimeTemplate(schedule, false);
							}
						},
						month: {
							daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
							startDayOfWeek: 0,
							narrowWeekend: true
						},
						week: {
							daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
							startDayOfWeek: 0,
							narrowWeekend: true
						}
					});
					cal.createSchedules(data.schedules);
					
					//setSchedules();
					
					$('#doctorSelection').html('<option value="">Show All Doctors</option>');
			
					data.doctors.forEach(function(doctor) {
						$('#doctorSelection').append('<option value="' + doctor.doctor_id + '">' + doctor.first_name + ' ' + doctor.last_name + '</option>');
					});
					
					
															
					// event handlers
					cal.on({
						'clickMore': function(e) {
							console.log('clickMore', e);
						},
						'clickSchedule': function(e) {
							console.log('clickSchedule', e);
						},
						'clickDayname': function(date) {
							console.log('clickDayname', date);
						},
						'beforeCreateSchedule': function(e) {
							console.log('beforeCreateSchedule', e);
							saveNewSchedule(e);
						},
						'beforeUpdateSchedule': function(e) {
							var schedule = e.schedule;
							var changes = e.changes;

							console.log('beforeUpdateSchedule', e);

							if (changes && !changes.isAllDay && schedule.category === 'allday') {
								changes.category = 'time';
							}

							cal.updateSchedule(schedule.id, schedule.calendarId, changes);
							refreshScheduleVisibility();
						},
						'beforeDeleteSchedule': function(e) {
							console.log('beforeDeleteSchedule', e);
							cal.deleteSchedule(e.schedule.id, e.schedule.calendarId);
						},
						'afterRenderSchedule': function(e) {
							var schedule = e.schedule;
							// var element = cal.getElement(schedule.id, schedule.calendarId);
							// console.log('afterRenderSchedule', element);							
						},
						'clickTimezonesCollapseBtn': function(timezonesCollapsed) {
							console.log('timezonesCollapsed', timezonesCollapsed);

							if (timezonesCollapsed) {
								cal.setTheme({
									'week.daygridLeft.width': '77px',
									'week.timegridLeft.width': '77px'
								});
							} else {
								cal.setTheme({
									'week.daygridLeft.width': '60px',
									'week.timegridLeft.width': '60px'
								});
							}

							return true;
						}
					});

					/**
					 * Get time template for time and all-day
					 * @param {Schedule} schedule - schedule
					 * @param {boolean} isAllDay - isAllDay or hasMultiDates
					 * @returns {string}
					 */
					function getTimeTemplate(schedule, isAllDay) {
						var html = [];
						var start = moment(schedule.start.toUTCString());
						if (!isAllDay) {
							html.push('<strong>' + start.format('HH:mm') + '</strong> ');
						}
						if (schedule.isPrivate) {
							html.push('<span class="calendar-font-icon ic-lock-b"></span>');
							html.push(' Private');
						} else {
							if (schedule.isReadOnly) {
								html.push('<span class="calendar-font-icon ic-readonly-b"></span>');
							} else if (schedule.recurrenceRule) {
								html.push('<span class="calendar-font-icon ic-repeat-b"></span>');
							} else if (schedule.attendees.length) {
								html.push('<span class="calendar-font-icon ic-user-b"></span>');
							} else if (schedule.location) {
								html.push('<span class="calendar-font-icon ic-location-b"></span>');
							}
							html.push(' ' + schedule.title);
						}

						return html.join('');
					}

					/**
					 * A listener for click the menu
					 * @param {Event} e - click event
					 */
					function onClickMenu(e) {
						var target = $(e.target).closest('a[role="menuitem"]')[0];
						var action = getDataAction(target);
						var options = cal.getOptions();
						var viewName = '';

						console.log(target);
						console.log(action);
						switch (action) {
							case 'toggle-daily':
								viewName = 'day';
								break;
							case 'toggle-weekly':
								viewName = 'week';
								break;
							case 'toggle-monthly':
								options.month.visibleWeeksCount = 0;
								viewName = 'month';
								break;
							case 'toggle-weeks2':
								options.month.visibleWeeksCount = 2;
								viewName = 'month';
								break;
							case 'toggle-weeks3':
								options.month.visibleWeeksCount = 3;
								viewName = 'month';
								break;
							case 'toggle-narrow-weekend':
								options.month.narrowWeekend = !options.month.narrowWeekend;
								options.week.narrowWeekend = !options.week.narrowWeekend;
								viewName = cal.getViewName();

								target.querySelector('input').checked = options.month.narrowWeekend;
								break;
							case 'toggle-start-day-1':
								options.month.startDayOfWeek = options.month.startDayOfWeek ? 0 : 1;
								options.week.startDayOfWeek = options.week.startDayOfWeek ? 0 : 1;
								viewName = cal.getViewName();

								target.querySelector('input').checked = options.month.startDayOfWeek;
								break;
							case 'toggle-workweek':
								options.month.workweek = !options.month.workweek;
								options.week.workweek = !options.week.workweek;
								viewName = cal.getViewName();

								target.querySelector('input').checked = !options.month.workweek;
								break;
							default:
								break;
						}

						cal.setOptions(options, true);
						cal.changeView(viewName, true);

						setDropdownCalendarType();
						setRenderRangeText();
						//setSchedules();
					}

					function onClickNavi(e) {
						var action = getDataAction(e.target);

						switch (action) {
							case 'move-prev':
								cal.prev();
								break;
							case 'move-next':
								cal.next();
								break;
							case 'move-today':
								cal.today();
								break;
							default:
								return;
						}

						setRenderRangeText();
						//setSchedules();
					}

					function onNewSchedule() {
						var title = $('#new-schedule-title').val();
						var location = $('#new-schedule-location').val();
						var isAllDay = document.getElementById('new-schedule-allday').checked;
						var start = datePicker.getStartDate();
						var end = datePicker.getEndDate();
						var calendar = selectedCalendar ? selectedCalendar : CalendarList[0];

						if (!title) {
							return;
						}

						cal.createSchedules([{
							id: String(chance.guid()),
							calendarId: calendar.id,
							title: title,
							isAllDay: isAllDay,
							start: start,
							end: end,
							category: isAllDay ? 'allday' : 'time',
							dueDateClass: '',
							color: calendar.color,
							bgColor: calendar.bgColor,
							dragBgColor: calendar.bgColor,
							borderColor: calendar.borderColor,
							raw: {
								location: location
							},
							state: 'Busy'
						}]);

						$('#modal-new-schedule').modal('hide');
					}

					function onChangeNewScheduleCalendar(e) {
						var target = $(e.target).closest('a[role="menuitem"]')[0];
						var calendarId = getDataAction(target);
						changeNewScheduleCalendar(calendarId);
					}

					function changeNewScheduleCalendar(calendarId) {
						var calendarNameElement = document.getElementById('calendarName');
						var calendar = findCalendar(calendarId);
						var html = [];

						html.push('<span class="calendar-bar" style="background-color: ' + calendar.bgColor + '; border-color:' + calendar.borderColor + ';"></span>');
						html.push('<span class="calendar-name">' + calendar.name + '</span>');

						calendarNameElement.innerHTML = html.join('');

						selectedCalendar = calendar;
					}

					function createNewSchedule(event) {
						var start = event.start ? new Date(event.start.getTime()) : new Date();
						var end = event.end ? new Date(event.end.getTime()) : moment().add(1, 'hours').toDate();

						if (useCreationPopup) {
							cal.openCreationPopup({
								start: start,
								end: end
							});
						}
					}
					function saveNewSchedule(scheduleData) {
						var calendar = scheduleData.calendar || findCalendar(scheduleData.calendarId);
						var schedule = {
							id: String(chance.guid()),
							title: scheduleData.title,
							isAllDay: scheduleData.isAllDay,
							start: scheduleData.start,
							end: scheduleData.end,
							category: scheduleData.isAllDay ? 'allday' : 'time',
							dueDateClass: '',
							color: calendar.color,
							bgColor: calendar.bgColor,
							dragBgColor: calendar.bgColor,
							borderColor: calendar.borderColor,
							location: scheduleData.location,
							raw: {
								class: scheduleData.raw['class']
							},
							state: scheduleData.state
						};
						if (calendar) {
							schedule.calendarId = calendar.id;
							schedule.color = calendar.color;
							schedule.bgColor = calendar.bgColor;
							schedule.borderColor = calendar.borderColor;
						}

						cal.createSchedules([schedule]);

						refreshScheduleVisibility();
					}

					function onChangeCalendars(e) {
						var calendarId = e.target.value;
						var checked = e.target.checked;
						var viewAll = document.querySelector('.lnb-calendars-item input');
						var calendarElements = Array.prototype.slice.call(document.querySelectorAll('#calendarList input'));
						var allCheckedCalendars = true;

						if (calendarId === 'all') {
							allCheckedCalendars = checked;

							calendarElements.forEach(function(input) {
								var span = input.parentNode;
								input.checked = checked;
								span.style.backgroundColor = checked ? span.style.borderColor : 'transparent';
							});

							CalendarList.forEach(function(calendar) {
								calendar.checked = checked;
							});
						} else {
							findCalendar(calendarId).checked = checked;

							allCheckedCalendars = calendarElements.every(function(input) {
								return input.checked;
							});

							if (allCheckedCalendars) {
								viewAll.checked = true;
							} else {
								viewAll.checked = false;
							}
						}

						refreshScheduleVisibility();
					}

					function refreshScheduleVisibility() {
						var calendarElements = Array.prototype.slice.call(document.querySelectorAll('#calendarList input'));

						CalendarList.forEach(function(calendar) {
							cal.toggleSchedules(calendar.id, !calendar.checked, false);
						});

						cal.render(true);

						calendarElements.forEach(function(input) {
							var span = input.nextElementSibling;
							span.style.backgroundColor = input.checked ? span.style.borderColor : 'transparent';
						});
					}

					function setDropdownCalendarType() {
						var calendarTypeName = document.getElementById('calendarTypeName');
						var calendarTypeIcon = document.getElementById('calendarTypeIcon');
						var options = cal.getOptions();
						var type = cal.getViewName();
						var iconClassName;

						if (type === 'day') {
							type = 'Daily';
							iconClassName = 'calendar-icon ic_view_day';
						} else if (type === 'week') {
							type = 'Weekly';
							iconClassName = 'calendar-icon ic_view_week';
						} else if (options.month.visibleWeeksCount === 2) {
							type = '2 weeks';
							iconClassName = 'calendar-icon ic_view_week';
						} else if (options.month.visibleWeeksCount === 3) {
							type = '3 weeks';
							iconClassName = 'calendar-icon ic_view_week';
						} else {
							type = 'Monthly';
							iconClassName = 'calendar-icon ic_view_month';
						}

						calendarTypeName.innerHTML = type;
						calendarTypeIcon.className = iconClassName;
					}

					function currentCalendarDate(format) {
					  var currentDate = moment([cal.getDate().getFullYear(), cal.getDate().getMonth(), cal.getDate().getDate()]);

					  return currentDate.format(format);
					}

					function setRenderRangeText() {
						var renderRange = document.getElementById('renderRange');
						var options = cal.getOptions();
						var viewName = cal.getViewName();

						var html = [];
						if (viewName === 'day') {
							html.push(currentCalendarDate('YYYY.MM.DD'));
						} else if (viewName === 'month' &&
							(!options.month.visibleWeeksCount || options.month.visibleWeeksCount > 4)) {
							html.push(currentCalendarDate('YYYY.MM'));
						} else {
							html.push(moment(cal.getDateRangeStart().getTime()).format('YYYY.MM.DD'));
							html.push(' ~ ');
							html.push(moment(cal.getDateRangeEnd().getTime()).format(' MM.DD'));
						}
						renderRange.innerHTML = html.join('');
					}
					
					
					/*function setSchedules() {
						cal.clear();
						generateSchedule(cal.getViewName(), cal.getDateRangeStart(), cal.getDateRangeEnd());
						cal.createSchedules(ScheduleList);

						refreshScheduleVisibility();
					}*/
					

					function setEventListener() {
						$('#menu-navi').on('click', onClickNavi);
						$('.dropdown-menu a[role="menuitem"]').on('click', onClickMenu);
						$('#lnb-calendars').on('change', onChangeCalendars);

						$('#btn-save-schedule').on('click', onNewSchedule);
						$('#btn-new-schedule').on('click', createNewSchedule);

						$('#dropdownMenu-calendars-list').on('click', onChangeNewScheduleCalendar);

						window.addEventListener('resize', resizeThrottled);
					}

					function getDataAction(target) {
						return target.dataset ? target.dataset.action : target.getAttribute('data-action');
					}

					resizeThrottled = tui.util.throttle(function() {
						cal.render();
					}, 50);

					window.cal = cal;

					setDropdownCalendarType();
					setRenderRangeText();
					//setSchedules();
					setEventListener();

					console.log(data.schedules);
				}
			});
		});
		
		/*window.onload = function() {
			// BETTER NOT TO DO THIS, AS CAN CAUSE THE CALENDAR POP UP TO BE OVERLAY/NOT SHOWN
			//dom not only ready, but everything is loaded
			// set full height for calendar
			var calendarContainerElement = document.getElementById("calendar").querySelectorAll(".tui-view-13");

			if (typeof calendarContainerElement[0] !== "undefined") {
				calendarContainerElement[0].style.height = "auto";
			}						
		};*/		
		
		/*$(document).ready(function() {
			while (typeof doctors === "undefined") {
				setTimeout(100);
			}
			// populate list of doctors
			//$('#doctorSelection').change(function() {
				//populateDoctorSelection();
				$('#doctorSelection').html('<option value="">Show All Doctors</option>');
			
				this.doctors.forEach(function(doctor) {
					$('#doctorSelection').append('<option value="' + doctor.doctor_id + '">' + doctor.first_name + ' ' + doctor.last_name + '</option>');
				});
			//});
			
		});*/
		
		/*function populateDoctorSelection() {
			$('#doctorSelection').html('<option value="">Show All Doctors</option>');
			
			this.doctors.forEach(function(doctor) {
				$('#doctorSelection').append('<option value="' + doctor.doctor_id + '">' + doctor.first_name + ' ' + doctor.last_name + '</option>');
			});
		}*/
		
		function selectDoctor() {
			//document.getElementById("doctorDropdown").style.display = "block";
			var selectedDoctorID = document.getElementById("doctorSelection").value;
			//alert('test');
			$.ajax({
				type: 'GET',
				url: "{% url 'select_doctor' %}",
				data: {'doctor_id':selectedDoctorID},
				datatype: 'json',
				success: function(data) {
					cal.clear();
					cal.createSchedules(data.schedules);
				}
			});
		};
	</script>

	<!-- {% if user.is_authenticated %} -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="btn btn-primary" role="button" href="{% url 'appointment_new' %}">+ New Appointment</a></li>
		</ul>
	<!-- {% endif %} -->	
	<table class="table" style="width:100%">
		<thead class="thead-light">
			<tr>
				<th scope="col">Edit | Delete</th>
				<th scope="col">Patient</th>
				<th scope="col">Purpose</th>
				<th scope="col">Start Date</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Date</th>	
				<th scope="col">End Time</th>	
				<th scope="col">Doctor</th>
			</tr>
		</thead>
	{% for appointment in object_list %}
		<tr>
			<td><a href="{% url 'appointment_edit' appointment.pk %}">Edit</a> | <a href="{% url 'appointment_delete' appointment.pk %}">Delete</a></td>
			<td>{{ appointment.patient }}</td>
			<td>{{ appointment.purpose }}</td>
			<td>{{ appointment.startDate }}</td>
			<td>{{ appointment.startTime }}</td>
			<td>{{ appointment.endDate }}</td>	
			<td>{{ appointment.endTime }}</td>		
			<td>{{ appointment.doctor }}</td>		
		</tr>
		<br />
	{% endfor %}
	</table>

<div id="menu">
	<span class="dropdown open">
		<button id="dropdownMenu-calendarType" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<i id="calendarTypeIcon" class="calendar-icon ic_view_week" style="margin-right: 4px;"></i>
			<span id="calendarTypeName">Weekly</span>
			<i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
					<i class="calendar-icon ic_view_day"></i>Daily
				</a>
			</li>
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
					<i class="calendar-icon ic_view_week"></i>Weekly
				</a>
			</li>
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
					<i class="calendar-icon ic_view_month"></i>Month
				</a>
			</li>
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
					<i class="calendar-icon ic_view_week"></i>2 weeks
				</a>
			</li>
			<li role="presentation">
				<a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
					<i class="calendar-icon ic_view_week"></i>3 weeks
				</a>
			</li>
			<li role="presentation" class="dropdown-divider"></li>
			<li role="presentation">
				<a role="menuitem" data-action="toggle-workweek">
					<input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-workweek" checked="">
					<span class="checkbox-title"></span>Show weekends
				</a>
			</li>
			<li role="presentation">
				<a role="menuitem" data-action="toggle-start-day-1">
					<input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-start-day-1">
					<span class="checkbox-title"></span>Start Week on Monday
				</a>
			</li>
			<li role="presentation">
				<a role="menuitem" data-action="toggle-narrow-weekend">
					<input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-narrow-weekend">
					<span class="checkbox-title"></span>Narrower than weekdays
				</a>
			</li>
		</ul>
	</span>
	<span id="menu-navi">
		<button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
		<button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
			<i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
		</button>
		<button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
			<i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
		</button>
	</span>
	<span id="renderRange" class="render-range"></span>
	<select id="doctorSelection" style="margin-left:20px" name="doctorSelection" onchange="selectDoctor()">
		<!-- <option value="doctor1">Doctor 1</option>
		<option value="doctor2">Doctor 2</option>
		<option value="doctor3">Doctor 3</option> -->
	</select>
</div>
<div id="calendar" data-url="{% url 'appointment_calendar' %}">
</div>	
{% endblock content %}


