<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}
	
	<script>
	
		var calendar = new tui.Calendar(document.getElementById('calendar'), {
			defaultView: 'week',
			taskView: true,    // Can be also ['milestone', 'task']
			scheduleView: true,  // Can be also ['allday', 'time']
			template: {
				milestone: function(schedule) {
					return '<span style="color:red;"><i class="fa fa-flag"></i> ' + schedule.title + '</span>';
				},
				milestoneTitle: function() {
					return 'Milestone';
				},
				task: function(schedule) {
					return '&nbsp;&nbsp;#' + schedule.title;
				},
				taskTitle: function() {
					return '<label><input type="checkbox" />Task</label>';
				},
				allday: function(schedule) {
					return schedule.title + ' <i class="fa fa-refresh"></i>';
				},
				alldayTitle: function() {
					return 'All Day';
				},
				time: function(schedule) {
					return schedule.title + ' <i class="fa fa-refresh"></i>' + schedule.start;
				}
			},
			month: {
				daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
				startDayOfWeek: 0,
				narrowWeekend: true
			},
			week: {
				daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
				startDayOfWeek: 0,
				narrowWeekend: true
			}
		});
		
		calendar.createSchedules([
			{
				id: '1',
				calendarId: '1',
				title: 'my schedule',
				category: 'time',
				dueDateClass: '',
				start: '2020-05-25T10:30:00+09:00',
				end: '2020-05-25T11:30:00+09:00'
			},
			{
				id: '2',
				calendarId: '1',
				title: 'second schedule',
				category: 'time',
				dueDateClass: '',
				start: '2020-05-27T10:30:00+09:00',
				end: '2020-05-27T11:30:00+09:00'
			}
		]);
		
		<!-- function updateSchedule -->
	
	</script>
	
	
	<h1>Book Appointment Page</h1>
	
	<h3>Calendar</h3>
	<div id="calendar">	
	</div>
	
	
{% endblock content %}