<!-- templates/base.html -->
<!doctype html>
{% load static %}

<html lang="en">
	<head>		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,
		initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
		<link href="{% static 'css/base.css' %}" rel="stylesheet"/>
		<title>{% block title %}Medical Software{% endblock title %}</title>
		<!-- Toast UI CSS/Javascript -->		
		<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.min.css" />
		<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css" />
		<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.css" />	
		<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.min.js"></script>
		<script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.min.js"></script>
		<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
		<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
		<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.min.js"></script>
		<link rel="prefetch" href="/tui.calendar/latest/page-data/index/page-data.json" crossorigin="anonymous" as="fetch">
		<link rel="prefetch" href="/tui.calendar/latest/component---src-pages-index-js-5b30b5e25fb16200d9dd.js">
		<!-- calendar action -->
		<!-- <script src="../static/js/calendars.js"></script>
		<script src="../static/js/calendar-app.js"></script> -->		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tui-calendar/1.12.7/tui-calendar.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tui-calendar/1.12.7/tui-calendar.min.css.map" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tui-calendar/1.12.7/tui-calendar.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tui-calendar/1.12.7/tui-calendar.min.js.map"></script>	 -->	
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="{% url 'home' %}">Medical Software</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				{% if user.is_authenticated %}
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}
							</a>
							
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
								<a class="dropdown-item" href="{% url 'password_change'%}">Change password</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>								
							</div>
						</li>
					</ul>
				{% else %}
					<form class="form-inline ml-auto">
						<a href="{% url 'login' %}" class="btn btn-outline-secondary">Log In</a>
						<a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
					</form>
				{% endif %}
			</div>
		</nav>
		<div class="container">
			{% block content %}
			{% endblock content %}
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</body>
</html>


