<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}
			
		<!-- <style>
			a:link, a:visited {
			  background-color: #f44336;
			  color: white;
			  padding: 14px 25px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;				
			}

			a:hover, a:active {
			  background-color: red;
			}			
		</style> -->
	<p>Home Page</p>
	<section class="main clearfix">
		<a class="link-box" href="{% url 'patient_list' %}">Register Patient</a>				
		<a class="link-box" href="{% url 'appointment_list' %}">Book Appointment</a>
		</div>
	</section>
	
{% endblock content %}