<!-- templates/patient_delete.html -->
{% extends 'base.html' %}

{% block content %}
	<h1>Delete</h1>
	<form action="" method="post">{% csrf_token %}
		<p>Are you sure you want to delete {{ patient.first_name }} {{ patient.last_name }}?</p>
		<button class="btn btn-danger ml-2" type="submit">Confirm</button>
	</form>
{% endblock content %}