<!-- templates/patient_edit.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
	<script>
		function updateShippingAddress() {
			if (document.getElementById("id_shipping_address_same").checked == true) {
				document.getElementById("id_shipping_address_street").value = document.getElementById("id_residential_address_street").value;
				document.getElementById("id_shipping_address_block").value = document.getElementById("id_residential_address_block").value;
				document.getElementById("id_shipping_address_unit").value = document.getElementById("id_residential_address_unit").value;
				document.getElementById("id_shipping_address_postal_code").value = document.getElementById("id_residential_address_postal_code").value;
				document.getElementById("id_shipping_address_city").value = document.getElementById("id_residential_address_city").value;
				document.getElementById("id_shipping_address_country").value = document.getElementById("id_residential_address_country").value;
				
				document.getElementById("id_shipping_address_street").disabled = true;
				document.getElementById("id_shipping_address_block").disabled = true;
				document.getElementById("id_shipping_address_unit").disabled = true;
				document.getElementById("id_shipping_address_postal_code").disabled = true;
				document.getElementById("id_shipping_address_city").disabled = true;
				document.getElementById("id_shipping_address_country").disabled = true;
			}
			else {				
				document.getElementById("id_shipping_address_street").disabled = false;
				document.getElementById("id_shipping_address_block").disabled = false;
				document.getElementById("id_shipping_address_unit").disabled = false;
				document.getElementById("id_shipping_address_postal_code").disabled = false;
				document.getElementById("id_shipping_address_city").disabled = false;
				document.getElementById("id_shipping_address_country").disabled = false;
			}
		}
		
		function updateBillingAddress() {
			if (document.getElementById("id_billing_address_same").checked == true) {
				document.getElementById("id_billing_address_street").value = document.getElementById("id_shipping_address_street").value;
				document.getElementById("id_billing_address_block").value = document.getElementById("id_shipping_address_block").value;
				document.getElementById("id_billing_address_unit").value = document.getElementById("id_shipping_address_unit").value;
				document.getElementById("id_billing_address_postal_code").value = document.getElementById("id_shipping_address_postal_code").value;
				document.getElementById("id_billing_address_city").value = document.getElementById("id_shipping_address_city").value;
				document.getElementById("id_billing_address_country").value = document.getElementById("id_shipping_address_country").value;
				
				document.getElementById("id_billing_address_street").disabled = true;
				document.getElementById("id_billing_address_block").disabled = true;
				document.getElementById("id_billing_address_unit").disabled = true;
				document.getElementById("id_billing_address_postal_code").disabled = true;
				document.getElementById("id_billing_address_city").disabled = true;
				document.getElementById("id_billing_address_country").disabled = true;
			}
			else {				
				document.getElementById("id_billing_address_street").disabled = false;
				document.getElementById("id_billing_address_block").disabled = false;
				document.getElementById("id_billing_address_unit").disabled = false;
				document.getElementById("id_billing_address_postal_code").disabled = false;
				document.getElementById("id_billing_address_city").disabled = false;
				document.getElementById("id_billing_address_country").disabled = false;
			}
		}
	</script>
	<h1>Edit Patient Information</h1>
	<form action="" method="post">{% csrf_token %}
		<h3>General Data</h3>
		<div class="label-settings">			
			<label for="id_first_name">First Name</label>{{ form.first_name }}
			<label for="id_last_name">Last Name</label>{{ form.last_name }}
			<label for="id_gender">Gender</label>{{ form.gender }}
			<label for="id_date_of_birth">Date of Birth</label>{% render_field form.date_of_birth type='date' %}
			<label for="id_nric">NRIC</label>{{ form.nric }}
			<label for="id_passport">Passport</label>{{ form.passport }}
			<label for="id_nationality">Nationality</label>{{ form.nationality }}
			<label for="id_ethnic_race">Ethnic Race</label>{{ form.ethnic_race }}
		</div>
		
		<h3>Contact</h3>
		<div class="label-settings">			
			<label for="id_mobile">Mobile</label>{{ form.mobile }}
			<label for="id_landline">Landline</label>{{ form.landline }}
			<label for="id_email">Email</label>{{ form.email }}
			<label for="id_doctor">Doctor</label>{{ form.doctor }}			
		</div>
		
		<h3>Emergency Contact</h3>
		<div class="label-settings">			
			<label for="id_emergency_contact_name">Name</label>{{ form.emergency_contact_name }}
			<label for="id_emergency_phone_number">Phone</label>{{ form.emergency_phone_number }}
			<label for="id_emergency_relationship">Relationship</label>{{ form.emergency_relationship }}
		</div>
		
		<h3>Insurance</h3>
		<div class="label-settings">			
			<label for="id_insurance_company">Company</label>{{ form.insurance_company }}
			<label for="id_insurance_policy_no">Policy No.</label>{{ form.insurance_policy_no }}
		</div>
		
		<h3>Residential Address</h3>
		<div class="label-settings">			
			<label for="id_residential_address_street">Street</label>{{ form.residential_address_street }}
			<label for="id_residential_address_block">Block</label>{{ form.residential_address_block }}
			<label for="id_residential_address_unit">Unit</label>{{ form.residential_address_unit }}
			<label for="id_residential_address_postal_code">Postal Code</label>{{ form.residential_address_postal_code }}
			<label for="id_residential_address_city">City</label>{{ form.residential_address_city }}
			<label for="id_residential_address_country">Country</label>{{ form.residential_address_country }}	
		</div>
		
		<h3>Shipping Address</h3>
		{% render_field form.shipping_address_same type='checkbox' vertical-align="middle" position="relative" onclick="updateShippingAddress()" %}	
		<label for="id_shipping_address_same">Same as residential address</label>
		<div class="label-settings">						
			<label for="id_shipping_address_street">Street</label>{{ form.shipping_address_street }}
			<label for="id_shipping_address_block">Block</label>{{ form.shipping_address_block }}
			<label for="id_shipping_address_unit">Unit</label>{{ form.shipping_address_unit }}
			<label for="id_shipping_address_postal_code">Postal Code</label>{{ form.shipping_address_postal_code }}
			<label for="id_shipping_address_city">City</label>{{ form.shipping_address_city }}
			<label for="id_shipping_address_country">Country</label>{{ form.shipping_address_country }}
		</div>
		
		<h3>Billing Address</h3>
		{% render_field form.billing_address_same type='checkbox' vertical-align="middle" position="relative" onclick="updateBillingAddress()" %}	
		<label for="id_billing_address_same">Same as shipping address</label>
		<div class="label-settings">								
			<label for="id_billing_address_street">Street</label>{{ form.billing_address_street }}
			<label for="id_billing_address_block">Block</label>{{ form.billing_address_block }}
			<label for="id_billing_address_unit">Unit</label>{{ form.billing_address_unit }}
			<label for="id_billing_address_postal_code">Postal Code</label>{{ form.billing_address_postal_code }}
			<label for="id_billing_address_city">City</label>{{ form.billing_address_city }}
			<label for="id_billing_address_country">Country</label>{{ form.billing_address_country }}	
		</div>
		<button class="btn btn-success ml-2" type="submit">Save</button>
	</form>
{% endblock content %}