<!-- templates/patient_detail.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<form action="" method="get">{% csrf_token %}
	<h1>Patient Information</h1>
	<h3>General Data</h3>
	<div class="label-settings">			
		<label for="id_first_name">First Name</label>
		{% if not object.first_name %}			
			</br>
		{% else %}
			{{ object.first_name }}
		{% endif %}
		<label for="id_last_name">Last Name</label>
		{% if not object.last_name %}			
			</br>
		{% else %}
			{{ object.last_name }}
		{% endif %}
		<label for="id_gender">Gender</label>
		{% if not object.gender %}			
			</br>
		{% else %}
			{{ object.gender }}
		{% endif %}
		<label for="id_date_of_birth">Date of Birth</label>
		{% if not object.date_of_birth %}			
			</br>
		{% else %}
			{{ object.date_of_birth }}
		{% endif %}
		<label for="id_nric">NRIC</label>
		{% if not object.nric %}			
			</br>
		{% else %}
			{{ object.nric }}
		{% endif %}
		<label for="id_passport">Passport</label>
		{% if not object.passport %}			
			</br>
		{% else %}
			{{ object.passport }}
		{% endif %}
		<label for="id_nationality">Nationality</label>
		{% if not object.nationality %}			
			</br>
		{% else %}
			{{ object.nationality }}
		{% endif %}
		<label for="id_ethnic_race">Ethnic Race</label>
		{% if not object.ethnic_race %}			
			</br>
		{% else %}
			{{ object.ethnic_race }}
		{% endif %}
	</div>
	
	<h3>Contact</h3>
	<div class="label-settings">			
		<label for="id_mobile">Mobile</label>
		{% if not object.mobile %}			
			</br>
		{% else %}
			{{ object.mobile }}
		{% endif %}
		<label for="id_landline">Landline</label>
		{% if not object.landline %}			
			</br>
		{% else %}
			{{ object.landline }}
		{% endif %}
		<label for="id_email">Email</label>
		{% if not object.email %}			
			</br>
		{% else %}
			{{ object.email }}
		{% endif %}
		<label for="id_doctor">Doctor</label>	
		{% if not object.doctor %}			
			</br>
		{% else %}
			{{ object.doctor }}
		{% endif %}		
	</div>
	
	<h3>Emergency Contact</h3>
	<div class="label-settings">			
		<label for="id_emergency_contact_name">Name</label>
		{% if not object.emergency_contact_name %}			
			</br>
		{% else %}
			{{ object.emergency_contact_name }}
		{% endif %}
		<label for="id_emergency_phone_number">Phone</label>
		{% if not object.emergency_phone_number %}			
			</br>
		{% else %}
			{{ object.emergency_phone_number }}
		{% endif %}
		<label for="id_emergency_relationship">Relationship</label>
		{% if not object.emergency_relationship %}			
			</br>
		{% else %}
			{{ object.emergency_relationship }}
		{% endif %}
	</div>
	
	<h3>Insurance</h3>
	<div class="label-settings">			
		<label for="id_insurance_company">Company</label>
		{% if not object.insurance_company %}			
			</br>
		{% else %}
			{{ object.insurance_company }}
		{% endif %}
		<label for="id_insurance_policy_no">Policy No.</label>
		{% if not object.insurance_policy_no %}			
			</br>
		{% else %}
			{{ object.insurance_policy_no }}
		{% endif %}
	</div>
	
	<h3>Residential Address</h3>
	<div class="label-settings">			
		<label for="id_residential_address_street">Street</label>
		{% if not object.residential_address_street %}			
			</br>
		{% else %}
			{{ object.residential_address_street }}
		{% endif %}
		<label for="id_residential_address_block">Block</label>
		{% if not object.residential_address_block %}			
			</br>
		{% else %}
			{{ object.residential_address_block }}
		{% endif %}
		<label for="id_residential_address_unit">Unit</label>
		{% if not object.residential_address_unit %}			
			</br>
		{% else %}
			{{ object.residential_address_unit }}
		{% endif %}
		<label for="id_residential_address_postal_code">Postal Code</label>
		{% if not object.residential_address_postal_code %}			
			</br>
		{% else %}
			{{ object.residential_address_postal_code }}
		{% endif %}
		<label for="id_residential_address_city">City</label>
		{% if not object.residential_address_city %}			
			</br>
		{% else %}
			{{ object.residential_address_city }}
		{% endif %}
		<label for="id_residential_address_country">Country</label>
		{% if not object.residential_address_country %}			
			</br>
		{% else %}
			{{ object.residential_address_country }}
		{% endif %}
	</div>
	
	<h3>Shipping Address</h3>
	{% if not object.shipping_address_same %}
		<input type="checkbox" disabled=true />
	{% else %}	
		<input type="checkbox" disabled=true checked />
	{% endif %}
	<label for="id_shipping_address_same">Same as residential address</label>
	<div class="label-settings">						
		<label for="id_shipping_address_street">Street</label>
		{% if not object.shipping_address_street %}			
			</br>
		{% else %}
			{{ object.shipping_address_street }}
		{% endif %}
		<label for="id_shipping_address_block">Block</label>
		{% if not object.shipping_address_block %}			
			</br>
		{% else %}
			{{ object.shipping_address_block }}
		{% endif %}
		<label for="id_shipping_address_unit">Unit</label>
		{% if not object.shipping_address_unit %}			
			</br>
		{% else %}
			{{ object.shipping_address_unit }}
		{% endif %}
		<label for="id_shipping_address_postal_code">Postal Code</label>
		{% if not object.shipping_address_postal_code %}			
			</br>
		{% else %}
			{{ object.shipping_address_postal_code }}
		{% endif %}
		<label for="id_shipping_address_city">City</label>
		{% if not object.shipping_address_city %}			
			</br>
		{% else %}
			{{ object.shipping_address_city }}
		{% endif %}
		<label for="id_shipping_address_country">Country</label>
		{% if not object.shipping_address_country %}			
			</br>
		{% else %}
			{{ object.shipping_address_country }}
		{% endif %}
	</div>
	
	<h3>Billing Address</h3>
	{% if not object.billing_address_same %}
		<input type="checkbox" disabled=true />
	{% else %}	
		<input type="checkbox" disabled=true checked />
	{% endif %}	
	<label for="id_billing_address_same">Same as shipping address</label>
	<div class="label-settings">								
		<label for="id_billing_address_street">Street</label>
		{% if not object.billing_address_street %}			
			</br>
		{% else %}
			{{ object.billing_address_street }}
		{% endif %}
		<label for="id_billing_address_block">Block</label>
		{% if not object.billing_address_block %}			
			</br>
		{% else %}
			{{ object.billing_address_block }}
		{% endif %}
		<label for="id_billing_address_unit">Unit</label>
		{% if not object.billing_address_unit %}			
			</br>
		{% else %}
			{{ object.billing_address_unit }}
		{% endif %}
		<label for="id_billing_address_postal_code">Postal Code</label>
		{% if not object.billing_address_postal_code %}			
			</br>
		{% else %}
			{{ object.billing_address_postal_code }}
		{% endif %}
		<label for="id_billing_address_city">City</label>
		{% if not object.billing_address_city %}			
			</br>
		{% else %}
			{{ object.billing_address_city }}
		{% endif %}
		<label for="id_billing_address_country">Country</label>
		{% if not object.billing_address_country %}			
			</br>
		{% else %}
			{{ object.billing_address_country }}
		{% endif %}
	</div>
</form>
<p><a href="{% url 'patient_edit' patient.pk %}">Edit</a> | <a href="{% url 'patient_delete' patient.pk %}">Delete</a></p>
<p>Back to <a href="{% url 'patient_list' %}">All patients</a>.</p>
{% endblock content %}