<!-- templates/article_list.html -->
{% extends 'base.html' %}

{% block title %}Patient{% endblock title %}

{% block content %}	
	<!-- {% if user.is_authenticated %} -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="btn btn-primary" role="button" href="{% url 'patient_new' %}">+ New Patient</a></li>
		</ul>
	<!-- {% endif %} -->
	<table class="table" style="width:100%">
		<thead class="thead-light">
			<tr>
				<th scope="col">Edit | Delete</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">NRIC</th>
				<th scope="col">Passport</th>		
			</tr>
		</thead>
	{% for patient in object_list %}
		<tr>
			<td><a href="{% url 'patient_edit' patient.pk %}">Edit</a> | <a href="{% url 'patient_delete' patient.pk %}">Delete</a></td>
			<td>{{ patient.first_name }}</td>
			<td>{{ patient.last_name }}</td>
			<td>{{ patient.nric }}</td>
			<td>{{ patient.passport }}</td>		
		</tr>
		<br />
	{% endfor %}
	</table>
{% endblock content %}